<h2>Meine Projekte</h2>

<div class="container_myWork">
    <div class="container_section">
        <button [class.active_btn]="active_btn==='all'" (click)="filterProjects('all')">Alle</button>
        <button [class.active_btn]="active_btn==='angular'" (click)="filterProjects('angular')">Angular</button>
        <button [class.active_btn]="active_btn==='javaScript'" (click)="filterProjects('javaScript')">JavaScript</button>
    </div>
    <div class="container_projects">
        <div class="project"  *ngFor="let project of filtered_projects">
            <img src="{{project.img}}">
            <div class="project_overview">
                <p>{{project.name}}<br>{{project.description}}</p>
                <a href="{{project.url}}" target="_blank"><button>Try out</button></a>
            </div>
        </div>
    </div>

</div>