<h2>Meine Projekte</h2>

<div class="container_myWork">
    <div class="container_section">
        <button>Alle</button>
        <button>Angular</button>
        <button>Java Script</button>
    </div>
    <div class="container_projects">
        <div class="project">
            <img src="./../../../assets/img/project_dummy.jpg">
            <div class="project_overview">
                <p>JOIN<br>A simple Task Manager</p>
                <button onclick="window.open('https://join.kevin-schimke.de/board.html','_blank')">Try out</button>
            </div>
        </div>
        <div class="project">
            <img src="./../../../assets/img/project_dummy.jpg">
        </div>

    </div>

</div>