.container_startpage {
    position: relative;
}

.img_slideshow {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    animation: zoomIn 8s ease;
}

.container_slideshow {
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.overlay_slideshow {
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    p{
        font-size: 80px;
        color: white;
        border-left: 8px solid #126bfb;
        padding-left: 32px;
        max-width: 600px;
        margin-left: 12vw;
    }
}

.fade_in {
 animation: fadeInAnimation 1.2s ease-in-out; ;
}

@keyframes fadeInAnimation {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}