<h2>Meine Fähigkeiten</h2>

<div class="container_myskills">
    <div class="skill_main">
        <span>Angular</span>
        <div class="skill_logo"><img src="./../../../assets/img/angular.png"></div>
    </div>
    <div class="skill_main">
        <span>Type Script</span>
        <div class="skill_logo"><img src="./../../../assets/img/typescript.png"></div>
    </div>
    <div class="skill_main">
        <span>GIT</span>
        <div class="skill_logo"><img src="./../../../assets/img/git.png"></div>
    </div>
    <div class="skill_main">
        <span>HTML</span>
        <div class="skill_logo"><img src="./../../../assets/img/html.png"></div>
    </div>
    <div class="skill_main">
        <span>CSS</span>
        <div class="skill_logo"><img src="./../../../assets/img/css.png"></div>
    </div>
    <div class="skill_main">
        <span>Java Script</span>
        <div class="skill_logo"><img src="./../../../assets/img/js.png"></div>
    </div>
    <div class="skill_main">
        <span>Rest APIs</span>
        <div class="skill_logo"><img src="./../../../assets/img/api.png"></div>
    </div>
</div>