h2{
    font-size: 30px;
    margin: 0;
    color: #ffff;
    text-align: center;
}

.container_myskills {
    margin-top: 32px;
    margin-bottom: 32px;
    width: calc(100vw - 24vw);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.skill_main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
    width: calc(33% - 50px);
    min-width: 200px;
    margin: 25px;
    border-radius: 15px;
}

.skill_logo {
    position: absolute;
    top: -25px;
    img{
        border-radius: 100%;
        background-color: white;
        border: 2px solid white;
        height: 50px;
        width: 50px;
        object-fit: cover;
        box-shadow: 0 5px 10px 5px #00000026;
    }
}