<h2>Kontaktiere mich</h2>
<span>Kontaktieren Sie mich über das untenstehende Formular oder per E-Mail an
    <a href="mailto: kontakt@kevin-schimke.de">kontakt@kevin-schimke.de</a></span>

    <form action="https://kevin-schimke.de/send_mail.php"method="POST">
        <span>Name</span>
        <input name="name" placeholder="Geben Sie Ihren Namen einn">
        <span>E-Mail Adresse</span>
        <input name="E-Mail" placeholder="Geben Sie Ihre E-Mail Adresse ein">
        <span>Nachricht</span>
        <textarea name="message" placeholder="Ihre Nachricht an mich"></textarea>
        <button type="submit">Senden</button>
    </form>